[submodule "build"]
	path = build
	url = https://github.com/no2fpga/no2build.git
[submodule "cores/no2misc"]
	path = cores/no2misc
	url = https://github.com/no2fpga/no2misc.git
[submodule "cores/no2usb"]
	path = cores/no2usb
	url = https://github.com/no2fpga/no2usb.git
[submodule "cores/no2ice40"]
	path = cores/no2ice40
	url = https://github.com/no2fpga/no2ice40.git
[submodule "cores/no2hub75"]
	path = cores/no2hub75
	url = https://github.com/no2fpga/no2hub75.git
[submodule "cores/no2hyperbus"]
	path = cores/no2hyperbus
	url = https://github.com/no2fpga/no2hyperbus.git
