[submodule "build"]
	path = build
	url = https://github.com/no2fpga/no2build.git
[submodule "cores/no2misc"]
	path = cores/no2misc
	url = https://github.com/no2fpga/no2misc.git
[submodule "cores/no2usb"]
	path = cores/no2usb
	url = https://github.com/no2fpga/no2usb.git
