# USB
set_io -nowarn usb_dp 10
set_io -nowarn usb_dn  9
set_io -nowarn usb_pu 11

# Button
set_io -nowarn -pullup yes btn 18

# Leds
set_io -nowarn rgb[0] 39
set_io -nowarn rgb[1] 40
set_io -nowarn rgb[2] 41
