# SPI
set_io --warn-no-port             spi_sck   15
set_io --warn-no-port -pullup no  spi_io[0] 14
set_io --warn-no-port -pullup no  spi_io[1] 17
set_io --warn-no-port -pullup no  spi_io[2] 12
set_io --warn-no-port -pullup no  spi_io[3] 13
set_io --warn-no-port -pullup yes spi_cs_n[0] 16
set_io --warn-no-port -pullup yes spi_cs_n[1] 37

# HDMI 12 bit pmod on 1A/1B
set_io -nowarn hdmi_clk 38
set_io -nowarn hdmi_de 32
set_io -nowarn hdmi_hsync 31
set_io -nowarn hdmi_vsync 28
set_io -nowarn hdmi_b[3] 43
set_io -nowarn hdmi_b[2] 42
set_io -nowarn hdmi_b[1] 36
set_io -nowarn hdmi_b[0] 34
set_io -nowarn hdmi_g[3] 47
set_io -nowarn hdmi_g[2] 46
set_io -nowarn hdmi_g[1] 45
set_io -nowarn hdmi_g[0] 44
set_io -nowarn hdmi_r[3] 4
set_io -nowarn hdmi_r[2] 3
set_io -nowarn hdmi_r[1] 2
set_io -nowarn hdmi_r[0] 48

# UART
set_io -nowarn uart_rx 6
set_io -nowarn uart_tx 9

# Clock
set_io -nowarn clk_in 35

# Button
set_io -nowarn btn 10

# Leds
set_io -nowarn rgb[0] 39
set_io -nowarn rgb[1] 40
set_io -nowarn rgb[2] 41
